{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    {% include "includes/side_navbar.html" %}

    {% load static %}

    {% block content %}
        
        <div class="main-content">
            <!-- Navbar -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand -->
                    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Dashboard | {{request.get_host}}</a>
                    <!-- User -->
                    <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="https://ui-avatars.com/api/?name={{user.username}}">
                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span><br>
                            <span class="mb-0 text-sm  font-weight-bold">last login: {{user.last_login}}</span>
                            </div>
                        </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome {{user.username}}!</h6>
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
            <!-- Header -->
            <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
                <div class="container-fluid">
                    <div class="header-body">
                    <!-- Card stats -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                                    <span id="users-count" class="h2 font-weight-bold mb-0"></span>
                                    </div>
                                    <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i></span>
                                    <span class="text-nowrap">Since last week</span>
                                </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total Practitioners</h5>
                                    <span id="practitioners-count" class="h2 font-weight-bold mb-0"></span>
                                    </div>
                                    <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span>
                                    <span class="text-nowrap">Since last week</span>
                                </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total Patients</h5>
                                    <span id="patients-count" class="h2 font-weight-bold mb-0"></span>
                                    </div>
                                    <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-8 mb-5 mb-xl-0 mx-auto">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                            <h2 class="text-white mb-0">Clinical Data</h2>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <!-- Chart -->
                    <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <!-- Chart wrapper -->
                        <canvas id="chart-sales" class="chart-canvas chartjs-render-monitor" width="1362" height="700" style="display: block; width: 681px; height: 350px;"></canvas>
                    </div>
                    </div>
                </div>
                </div>
                {% comment %} <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Registration</h6>
                            <h2 class="mb-0">Clinic users</h2>
                            </div>
                        </div>
                        </div>
                        <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="chart-orders" class="chart-canvas chartjs-render-monitor" width="602" height="700" style="display: block; width: 301px; height: 350px;"></canvas>
                        </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                    © 2019 <a href="www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                </div>
            </footer>
        </div>
    </div>
    {% endblock %}
{% comment %} API bypass hack
<datalist id="ice-cream-flavors">
    <option id="ebola-count" value="{{ebola_count}}">
    <option id="malaria-count" value="{{malaria_count}}">
    <option id="typhoid-count" value="{{typhoid_count}}">
    <option id="tuberculosis-count" value="{{tuberculosis_count}}">
    <option id="hepatitis-count" value="{{hepatitis_count}}">
    <option id="others-count" value="{{others_count}}">
</datalist>
<!--This should be an experimental work, do not use in production-->
{% comment %} Used to populate chartjs chart {% endcomment %}

{% endblock %}

{% block script %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){
            async function populateData(){
                async function getTotalCount(url){
                let apiData = await fetch(url);
                let jsonData = await apiData.json();
                return jsonData.length;
                }

                var user_count = await getTotalCount(`${window.location.origin}/api/records/users/`);
                var patients_count = await getTotalCount(`${window.location.origin}/api/records/patients/`);
                var practitioners_count = await getTotalCount(`${window.location.origin}/api/records/practitioners/`);

                document.getElementById('users-count').innerHTML = user_count;
                document.getElementById('patients-count').innerHTML = patients_count;
                document.getElementById('practitioners-count').innerHTML = practitioners_count;

            }

            populateData();
        });
    </script>
{% endblock script %}