{% extends "records/dashboard.html" %}
{% load static %}
{% block content %}
    <div class="main-content">
            <!-- Navbar -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand -->
                    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Dashboard</a>
                    <!-- User -->
                    <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="{% static 'assets/img/theme/team-4-800x800.jpg' %}">
                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span><br>
                            <span class="mb-0 text-sm  font-weight-bold">last login: {{user.last_login}}</span>
                            </div>
                        </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome {{user.username}}!</h6>
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                        </div>
                    </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
            <!-- Header -->
            <div class="header h-100vh bg-gradient-primary pb-8 pt-5 pt-md-8">
                <div class="row mt-5">
                    <div class="col-sm-11 col-xl-10 mb-5 mb-xl-0 mx-auto">
                        <div class="card shadow">
                            <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-sm-12">
                                <h3 class="mb-0">Patient Records</h3>
                                </div>
                                <div class="col-md-9 col-sm-12 text-right">
                                <label class="mr-2">
                                    <input type="checkbox" value="Ebola"> Ebola
                                </label>
                                <label class="mr-2">
                                    <input type="checkbox" value="Malaria"> Malaria
                                </label>
                                <label class="mr-2">
                                    <input type="checkbox" value="Typhoid"> Typhoid
                                </label>
                                <label class="mr-2">
                                    <input type="checkbox" value="Tuberculosis"> Tuberculosis
                                </label>
                                <label class="mr-2">
                                    <input type="checkbox" value="Hepatitis"> Hepatitis
                                </label>
                                <label class="mr-2">
                                    <input type="checkbox" value="Others"> Others
                                </label>
                                <a id="toggle_filter" href="#!" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                            </div>
                            <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Names</th>
                                    <th scope="col">Diagnosis</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Address</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for patient in patients_list %}
                                    <tr>
                                        <th scope="row">
                                        {{patient.profile}}
                                        </th>
                                        <td>
                                        {{patient.patient_record}}
                                        </td>
                                        {% if  patient.patient_record.test_result is True %}
                                            <td>
                                                Positive
                                            </td>
                                        {% else %}
                                            <td>
                                                Negative
                                            </td>
                                        {% endif %}
                                        <td>
                                        <i class="fas fa-address-book text-success mr-3"></i> {{patient.patient_location}}
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-sm btb-btn-outline-info">View</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                    © 2019 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                </div>
            </footer>
    </div>
{% endblock %}