{% extends "records/dashboard.html" %}

{% block title %}
    Statistics
{% endblock title %}

{% include "includes/side_navbar.html" %}

{% load static %}

{% block content %}
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Statistics</a>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                        <img alt="Image placeholder" src="https://ui-avatars.com/api/?name={{user.username}}">
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span><br>
                        </div>
                    </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome {{user.username}}!</h6>
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- Card stats -->
                    <div class="row mx-auto">
                        {% if users_count %}
                            <div class="col-xl-12 col-lg-12 mb-5">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                                        <span class="h2 font-weight-bold mb-0">{{users_count}}</span>
                                        </div>
                                        <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-chart-bar"></i>
                                        </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                        <span class="text-nowrap">Since last month</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 mb-5">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Practitioners</h5>
                                        <span class="h2 font-weight-bold mb-0">{{practitioners_count}}%</span>
                                        </div>
                                        <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-percent"></i>
                                        </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                        <span class="text-nowrap">Since last week</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 mb-5">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Patients</h5>
                                        <span class="h2 font-weight-bold mb-0">{{patients_count}}%</span>
                                        </div>
                                        <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-percent"></i>
                                        </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                        <span class="text-nowrap">Since last month</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 mb-5">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Medical Reports</h5>
                                        <span class="h2 font-weight-bold mb-0">{{medical_records_count}}</span>
                                        </div>
                                        <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-chart-bar"></i>
                                        </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                        <span class="text-nowrap">Since last month</span>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xl-12 col-lg-12 mb-5">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <h3>No Data Entry Available for display</h3>
                                        <p>This is likely due to maintenance or error, please kindly check back later.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if users_count %}
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="container">
                            <table class="table bg-white">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Epidermic Name</th>
                                    <th scope="col">Infected</th>
                                    <th scope="col">Percentage Diagnosed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th scope="row">1</th>
                                    <td>Ebola</td>
                                    <td>{{ebola}}</td>
                                    <td>{{ebola_percentage}}%</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">2</th>
                                    <td>Malaria</td>
                                    <td>{{malaria}}</td>
                                    <td>{{malaria_percentage}}%</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">3</th>
                                    <td>Typhoid</td>
                                    <td>{{typhoid}}</td>
                                    <td>{{typhoid_percentage}}%</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">4</th>
                                    <td>Tuberculosis</td>
                                    <td>{{tuberculosis}}</td>
                                    <td>{{tuberculosis_percentage}}%</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">5</th>
                                    <td>Hepatitis</td>
                                    <td>{{hepatitis}}</td>
                                    <td>{{hepatitis_percentage}}%</td>
                                    </tr>
                                    <th scope="row">6</th>
                                    <td>Others</td>
                                    <td>{{others}}</td>
                                    <td>{{others_percentage}}%</td>
                                    </tr>
                                </tbody>
                                </table>

                        </div>
                    </div>
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}