{% load static %}
<div class="container px-4">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block navbar-brand" href="{% url 'home' %}">
                <img class="navbar-brand-img" width="40" height="40" src="{% static 'assets/img/brand/doctor-medical-mk-logo.png' %}" alt="Brand logo"> <span>MWA</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mx-auto d-md-none">
                <img class="navbar-brand-img" width="30" height="30" src="{% static 'assets/img/brand/doctor-medical-mk-logo.png' %}" alt="Brand logo"> <span class="text-white font-weight-bold">MWA</span>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="{% url 'home' %}">
                        <img src="{% static 'assets/img/brand/doctor-medical-mk-logo.png' %}">
                        <span>MWA</span>
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                        <span></span>
                        <span></span>
                        </button>
                    </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    {% if not user.is_authenticated %}
                        <li class="nav-item btn btn-sm shadow-none--hover">
                            <a href="{% url 'profiles:signup' %}" class="nav-link">
                                <i class="ni ni-circle-08 text-pink"></i> Register
                            </a>
                        </li>
                        <li class="nav-item btn btn-sm shadow-none--hover">
                            <a href="{% url 'login' %}" class="nav-link">
                                <i class="ni ni-key-25 text-info"></i> Login
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="https://ui-avatars.com/api/?name={{user.username}}">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">Hi {{user.username}}!</span>
                                </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="{% url 'records:dashboard' %}" class="dropdown-item">
                                    <i class="ni ni-ui-04"></i>
                                    <span>Dashboard</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'logout' %}" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>