<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Web App{% endblock %}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
    <link href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/argon-dashboard.css?v=1.1.0' %}" rel="stylesheet" />
</head>
<body>
    {% block body %}
        <main>
            {% block content %}
            {% endblock  %}
        </main>

    {% endblock %}
    <!--   Core   -->
    <script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}%"></script>
    <script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}%"></script>
    <!--   Optional JS   -->
    <script src="{% static 'js/plugins/chart.js/dist/Chart.min.js' %}%"></script>
    <script src="{% static 'js/plugins/chart.js/dist/Chart.extension.js' %}%"></script>
    <!--   Argon JS   -->
    <script src="{% static 'js/argon-dashboard.min.js?v=1.1.0' %}%"></script>
    {% comment %} <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script> {% endcomment %}
</body>
</html>